
// set executor
process.executor = 'slurm'


/*
SAMPLES
*/

// Input file type
// Specify whether to start pipeline with FASTQ or CRAM files
// Starting with CRAM files will skip fastqc and alignment steps
// Values can be 'fastq' or 'cram'
// CRAM files should have duplicates removed
params.input_type = 'fastq'

// FOR FASTQ FILES
   // TSV with fields: [sampleID] [sex] [read1] [read2] [trio] [sampleType] [opticalDistance]
   // read1 and read2 can be a comma-separated list of FASTQ files for the same sample
   // FASTQ files must be listed in the same order in read1 and read2
   // sampleType must be either 'typeA' or 'typeB'
   // opticalDistance is the value to use for OPTICAL_DUPLICATE_PIXEL_DISTANCE in Picard MarkDuplicates
// FOR CRAM FILES
   // TSV with fields: [sampleID] [sex] [cram] [index] [trio] [sampleType]
   // provide only one CRAM per sample
   // sampleType must be either 'typeA' or 'typeB'
params.samples = '/path/to/trio_samples.tsv'


// Reference genome
params.reference = '/path/to/reference_genome.fasta'
params.reference_index = '/path/to/reference_genome.fai'


/*
PANEL FILES
*/

// Panel metadata
params.panel = '/path/to/large-scale-panel_usats.csv'
// Probe coordinates in Picard format (if none, set to 'false')
params.picard_probes = '/path/to/large-scale-panel_probes.interval_list'
// Microsatellite coordinates in Picard format
params.picard_usats = '/path/to/large-scale-panel_usats.interval_list'
// Microsatellite coordinates in HipSTR format
params.hipstr_usats = '/path/to/large-scale-panel_usats_hipstr.txt'
// Microsatellite coordinates in GangSTR format
params.gangstr_usats = '/path/to/large-scale-panel_usats_gangstr.txt'
// Microsatellite coordinates in Expansion Hunter format
params.eh_usats = '/path/to/large-scale-panel_usats_eh.json'
// Microsatellite coordinates in BED format
params.bedtools_usats = '/path/to/large-scale-panel_usats_bedtools.bed'
// Supplementary variant panel (if none, set to 'false')
params.supp_panel = 'false'
// Supplementary variant panel probes (if none, set to 'false')
params.supp_probes = 'false'


/*
RESULTS
*/

// Results directory
params.results = '/path/to/results'
// Basename for joint HipSTR VCF and final RDS file
params.outputbasename = 'trio'

// Template directory
params.script_path = '/path/to/templates'

// Temporary directory for gatk jobs
params.gatk_tmp = '\$TMPDIR'


/*
PROGRAMS AND MODULES
*/

params.fastqc = 'fastqc/0.11.9'
params.bwa = 'bwa/intel/0.7.17'
params.samtools = 'samtools/intel/1.14'
params.picard = '/path/to/picard.jar'
params.bcftools = 'bcftools/intel/1.14'
params.hipstr = '/path/to/HipSTR'
params.gangstr = 'gangstr/intel/2.5.0'
params.eh = 'expansion-hunter/5.0.0'
params.bedtools = 'bedtools/intel/2.29.2'
params.gatk = 'gatk/4.3.0.0'


/*
SCRIPT PARAMETERS
*/

// Number of files to split HipSTR input file into
params.split = 50